{% extends "base.html" %}
{% block start %}

<h3>Upload PDF File</h3>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    
    <label for="copies">Copies:</label>
    <input type="number" name="copies" min="1" value="1">

    <label for="orientation">Orientation:</label>
    <select name="orientation">
        <option value="portrait">Portrait</option>
        <option value="landscape">Landscape</option>
    </select>

    <button type="submit">Upload and Print</button>
</form>



{% endblock %}